
/* Reset styles */
a {
  color: inherit;
  text-decoration: none;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #dfe0e3;
}

/* main styles */
.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* main content */
.main-content {
  padding: 105px 90px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* about styles */
.about {
  margin-bottom: 40px;
}

.about-position {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
}

.about-name {
  margin-bottom: 25px;
  font-family: "Comfortaa", monospace;
  font-weight: 600;
  font-size: 50px;
  line-height: calc(55 / 50);
  color: #000000;
}

.about-description {
  width: 400px;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #595959;
}

/* projects styles */
.projects {
  margin-bottom: 50px;
}

/* projects_title styles */
.title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(27 / 30);
  text-decoration: underline;
  color: #000000;
}

.projects-list {
  margin: 0;
  padding-left: 17px;
}

.projects-item {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #000000;
}

.projects,
.projects-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #595959;
}

.projects-link {
  font-family: "Comfortaa", monospace;
  font-weight: 600;
  color: #fb6d3a;
  margin-left: 10px;
  cursor: pointer;
}

.projects-link:hover {
  color: #595959;
}

.projects-bracket {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #000000;
}

/* work styles */
.work {
  margin-bottom: 45px;
}

.work-velder {
  margin-bottom: 15px;
}

.work-position {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #000;
  margin-bottom: 10px;
}

.organization {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #fb6d3a;
}

.period {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #a8a8a8;
}

.line {
  font-size: 12px;
  line-height: calc(15 / 12);
  color: #000;
}

.work-list {
  margin: 0;
}

.work-list-item {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #595959;
}

/* education styles */
.departament {
  margin-bottom: 35px;
}

.education-info {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: #fb6d3a;
  margin-bottom: 10px;
}

.education-prof {
  font-family: "Comfortaa", monospace;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
  margin-bottom: 10px;
}

.education-prof-link {
  display: block;
  margin-bottom: 10px;
}

.education-prof-link:hover {
  color: #fb6d3a;
}

/* sidebar styles */
.sidebar {
  border-radius: 10px;
  background-color: #333333;
  padding-top: 40px;
  width: 370px;
}

.photo {
  width: 350px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-radius: 50%;
}

.contacts,
.tech-skills,
.soft-skills,
.languages,
.interests {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.sidebar-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(27 / 22);
  margin-bottom: 10px;
}

.contacts-type {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #ffffff;
  margin-right: 10px;
}

.contact-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #fb6d3a;
}

.tech-skills,
.soft-skills,
.languages {
  margin-bottom: 45px;
}

.interests {
  margin-bottom: 90px;
}

.techskills-list {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

.tech-skills-list,
.soft-skills-list,
.languages-list,
.interests-list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.languages-item,
.tech-skills-item,
.soft-skills-item,
.interests-item {
  color: #fb6d3a;
}

.languages-text,
.tech-skills-text,
.soft-skills-text,
.interests-text {
  font-family: "Comfortaa", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height:  calc(24 / 14);
  color: #ffffff;
}

.tech-skills-text.solid,
.languages-text.solid,
.soft-skills-text.solid {
  text-decoration: line-through;
  color: rgba(247, 244, 244, 0.6);
}

.social .sidebar-title {
  text-align: center;
  color: #fb6d3a;
}

.social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.social-item:not(:last-child) {
  margin-right: 20px;
}

.social-link {
  display: block;
  margin-top: 10px;
  fill: #303030;
  text-align: center;
}

.social-item:hover .social-link {
  fill: #ff6c00;
}

.thumb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.thumb-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button {
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 40px;
  border-radius: 5px;
  background-color: #fff;
}